

// 変数
$header_back_color:#003333;
$header_height:80px;
$main_left_width:15%;
$main_right_about_height:500px;
$main_right_contact_height:600px;

// ヘッダー、フッターの装飾
@mixin header_size() {
  width:100%;
  height:$header_height;
  background-color: $header_back_color;
}

// 縦横中央寄せにする際に使用
@mixin position_center(){
  display: flex;
  align-items: center;
  justify-content: center; 
}

// 画像の基準となるサイズ
@mixin image_base_size(){
  width:200px;
  height:200px;
}

* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

a {
    text-decoration: none;
  &:hover {
    transition:color 0.5s;
    color:red;
  }
}

.pagenate, nav,span {
  font-size:20px;
  margin:20px 0;
  color:black;
  > a {
    color:black;
  }
}