
// 変数
$header_back_color:#003333;
$header_height:80px;

// ヘッダー、フッターの装飾
@mixin header_size() {
  width:100%;
  height:$header_height;
  background-color: $header_back_color;
}

// 縦横中央寄せにする際に使用
@mixin position_center(){
  display: flex;
  align-items: center;
  justify-content: center; 
}

// 画像が範囲内に収まるようにする
@mixin image_resize(){
  width:auto;
  height:auto;
  max-width: 100%;
  max-height: 100%;
}

// 画像の基準となるサイズ
@mixin image_base_size(){
  width:200px;
  height:200px;
}

