
.comments {

  &_index {
    &-board {
        background-color: $header_back_color;
        width:100%;
        height:1000px;
        padding:30px;
        overflow: scroll;
      & a:hover > p{
          transition: color 0.5s;
          color: red;
      }
    }
  }

}