
.devise_main{
   margin:20px;
  > h2 {
    background-color: $header_back_color;
    font-size:40px;
    width:30%;
    margin:30px auto;
    text-align: center;
    padding:10px;
    border: 2px groove;
  }
  > form{
    width:800px;
    margin:0 auto;
    & label {
      margin:10px;
    }
    & input {
      width:500px;
    }
  }

}

.error {
  text-align: center;
  background-color: red;
}

.registration_edit {
  &-top {
    width:100%;
    @include position_center;
  }
  &-list {
    width:60%;
    @include position_center;
    flex-direction: column;
  }
  &-image {
      @include image_base_size;
      border:5px dashed;
      @include position_center;
    > img {
      @include image_resize;
      z-index:1;
    }
    > input {
      display: none;
    }
    &:hover {
      color:red;
    }
  }
}


