

.registration_edit {
  &-top {
    width:100%;
    @include position_center;
  }
  &-list {
    width:60%;
    @include position_center;
    flex-direction: column;
  }
  &-image {
      @include image_base_size;
      border:5px dashed;
      @include position_center;
    > img {
      @include image_resize;
      z-index:1;
    }
    > input {
      display: none;
    }
    &:hover {
      color:red;
    }
  }
}


.error {
  background-color: $header_back_color;
  text-align: center;
  padding:10px;
}