
.posts {

  &_index {
    &-top {
      margin:0 auto;
      height:600px;
      background-image: image-url("archive.jpg");
      background-size: cover;
      @include position_center;
      flex-direction: column;
      > h1,h3{
        background-color: white;
        padding:0 10px;
        border:none;
        color:black;
      }
      > h3 {
        font-size:20px;
      }
    }
    &-middle {
      display: flex;
      height:1350px;
    }
    &-left_side {
      padding:10px 0;
      overflow: scroll;
      text-align: center;
      width:20%;
      background-color:$header_back_color;
      border:1px solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      > h3 {
        text-align: center;
      }
      > li{
        border: 1px solid;
        list-style: none;
        width:100%;
      }
      & ul {
        padding:0;
        margin: 0;
      }
    }
    &-right_side {
        width:85%;
        background-color: $header_back_color;
    }
    &-about {
        padding:20px 50px;
        color: white;
        border:1px solid;
      > h1 {
        text-align: center;
        padding-top: 20px;
        color: white;
      }
    }
    &-contact {
        text-align: center;
        padding:20px 50px;
        border:1px solid;
    }
    &-comment {
       padding:0 0 50px;
       border:1px solid;
      > h1 {
        text-align: center;
      }
      > div {
        border:1px solid;
        width:80%;
        height:200px;
        overflow: scroll;
        padding:10px;
        margin:0 auto;
      }
    }      
  }

}

